{%- comment -%}
  Renders image with Text (filtering and sorting)

  Accepts:
  - video: {String} Title
  - title_tag: {String} Title Tag
  - class: {String} Class name
  - animations_reveal_on_scroll: {Boolean} Add animations
  - filters: {Array} List of filter items
  - enable_filter: {Boolean} turn on fitler

  Usage:
  In your liquid template file, copy the following line
  {% render 'image-with-text' with image: image, color, desktop_image_width:  %}
{%- endcomment -%}


{% assign scheme1 = settings.color_schemes | first %}
{%- assign image = image -%}
{%- if image.width > image.height -%}
  {%- assign aspect = 'landscape' -%}
{%- else -%}
  {%- assign aspect = 'portrait' -%}
{%- endif -%}

{% liquid
    assign hide = false
    if no_blocks
      if text == blank
        assign hide = true
      endif
    else
      if blocks.size == 0
        assign hide = true
      endif
    endif
%}


{%- unless hide -%}
  <div class="image-with-text  image-with-text__media--{{ desktop_image_width }}  {{ aspect | escape }} {% unless color_scheme == scheme1 and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" data-scheme="{{ color_scheme }}">
    <div
      class="image-with-text__container image-with-text__container--{{ desktop_content_alignment }} {% if layout == 'text_first' %} image-with-text__container--reverse{% endif %}"
      container>
      <div class="image-with-text__grid  {% if layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__media-item image-with-text__grid-item">

          <div
            class="image-with-text__media  {{ aspect | escape }}   "
            {% if height == 'adapt' and image != blank %}
            style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"
            {% endif %}>
            {%- if image != blank -%}

              {%- if image_behavior == 'ambient' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
              {%- endif -%}


              {{
                 image
               | image_url: width: 1500
               | image_tag: class: '', loading: 'lazy', sizes: sizes, widths: widths }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__text-item image-with-text__grid-item">
          <div id="ImageWithText--{{ section_id }}" class="image-with-text__content image-with-text__content--{{ desktop_content_position }} image-with-text__content--desktop-{{ desktop_content_alignment }} image-with-text__content--mobile-{{ mobile_content_alignment }} image-with-text__content--{{ height }}  ">

            {%- if no_blocks -%}
              <div class="image-with-text__text rte subtitle" {{ shopify_attributes }}>
                {{ text }}
              </div>
            {%- else -%}
              {%- for block in blocks -%}
                {% case block.type %}
                  {%- when 'heading' -%}
                  <h2 class="image-with-text__heading inline-richtext {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                    {{ block.settings.heading }}
                  </h2>
                  {%- when 'caption' -%}
                  <p class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                    {{ block.settings.caption | escape }}
                  </p>
                  {%- when 'text' -%}
                  <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                  {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                      role="link"
                      aria-disabled="true"
                      {% else %}
                      href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      {{ block.shopify_attributes }}>
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
                {%- endcase -%}
              {%- endfor -%}
            {%- endif -%}

          </div>
        </div>
      </div>
    </div>

  </div>
{%- endunless -%}